:root {
    --td-colour: rgba(0,124,27,0.9); 
    --td-font-colour: white; 
    --td-font-colour-dark: #1a5336; 
}

body, html {
    /* background-color:  var(--td-font-colour-dark);  */
}

[class*="con"] {
    padding: 1rem; 
    background-color: none; 
    color: var(--td-font-colour-dark); 
    text-align: center;  
    }

/* h1 {
   background-color: var(--td-colour); 
   color: var(--td-font-colour); 
} */

.jumbotron {
    background: var(--td-colour);
    color: white; 
    padding: 0px; 
    
}

.jumbotron h1 {
    font-size: 10vh; 
    padding: 0px; 
    margin: 0px; 
}

.card-text {
    color: black; 
}

.no-padding {
    margin-bottom: 0 !important; 
    padding-bottom: 0 !important; 
}