:root {
    --td-colour: rgba(0,124,27,0.9); 
    --td-font-colour: white; 
    --td-font-colour-dark: #1a5336; 
}

body, html {
    /* background-color:  var(--td-font-colour-dark);  */
}

[class*="con"] {
    padding: 1rem; 
    background-color: none; 
    color: var(--td-font-colour-dark); 
    text-align: center;  
    }

/* h1 {
   background-color: var(--td-colour); 
   color: var(--td-font-colour); 
} */

.jumbotron {
    background: var(--td-colour);
    color: white; 
    padding: 0px; 
}

.jumbotron h1 {
    font-size: 7vh; 
    padding: 0px; 
    margin: 0px; 
}

.card-text {
    color: black; 
    
}

.dropdown {
    margin-top: 30%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,10px) !important;
 }
 
 .dropdown-menu{
     height: auto !important;
     position: relative !important;
     transform: translate3d(0,0,10px) !important;
 }

 .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--td-colour) !important;
    color: white;
}

#counter {
    display: inline-block;   
    color: var(--td-font-colour-dark)
}

.footer-margin {
    height: 100px;
    background-color: var(--td-font-colour-dark);
    color: white; 
  }